<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamline Diagnosis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/App.css"/>
    <link rel="icon" href="../public/favicon.png"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand nav-head" href="/">
               <img src="../public/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
                Streamline Diagnosis
            </a>
			<ul class="nav justify-content-end" id="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/diagnosis">Diagnosis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                </li>
            </ul>
            <button class="navbar-toggler" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="navbar_toggle();">
				<span class="navbar-toggler-icon"></span>
			</button>
        </nav>
	</header>
    <section id="breastCancer" class="workspace diseas">
        <div class="related-diagnosis">
            <% if (typeof relatedDiagnosis !== 'undefined'){ %>
                <ul id="related-diagnosis">
                    <%= relatedDiagnosis %>
                </ul>
            <% } %>
        </div>
        <div class="home-body flo">
            <div class="home-body-left">
                <form onsubmit="validateForm(event);">
                    <!-- age, tumor_size, breast_pain, blood_discharge, shape_change, family_history -->
                    <div class="form-head">Breast Cancer Diagnosis</div>
                    <div class="form-body">
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="breastCancer-name">Name</label>
                                <input type="name" class="form-control" id="breastCancer-name" placeholder="Enter Pasent Name" name="name" required="true" onkeyup="checkName('breastCancer-name');"/>
                                <small class="form-text text-muted">Enter patient's full name following naming grammar under 25 characters.</small>
                            </div>
                            <div class="col form-group">
                                <label for="breastCancer-age">Age (DOB)</label>
                                <input type="date" class="form-control" id="breastCancer-age" placeholder="Enter Pasent DOB" name="age" required="true" onchange="checkAge('breastCancer-age',100,4);"/>
                                <small class="form-text text-muted">Enter patient's valid birth date; age between 4 to 95 years.</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="breastCancer-tuS">Tumor Size</label>
                                <input type="number" class="form-control" id="breastCancer-tuS" placeholder="Enter Tumor Size" name="tuS" required="true" onkeyup="checkRange('breastCancer-tuS',8,0);"/>
                                <small class="form-text text-muted">Fill Patient's BP measured by doctor; range 70-180 mmHg.</small>
                            </div>
                            <div class="col form-group">
                                <label for="breastCancer-brP">Breast Pain</label>
                                <select class="form-control" id="breastCancer-brP" name="brP" required="true" onchange="checkOptions('breastCancer-brP');">
                                    <option selected="true">NO</option>
                                    <option>YES</option>
                                </select>
                                <small class="form-text text-muted">Select by observation if patient urinates frequently as compared to previous.</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="breastCancer-blD">Blood Discharge</label>
                                <select class="form-control" id="breastCancer-blD" name="blD" required="true" onchange="checkOptions('breastCancer-blD');">
                                    <option selected="true">NO</option>
                                    <option>YES</option>
                                </select>
                                <small class="form-text text-muted">Select by observation if patient urinates frequently as compared to previous.</small>
                            </div>
                            <div class="col form-group">
                                <label for="breastCancer-sC">Shape Change</label>
                                <select class="form-control" id="breastCancer-sC" name="sC" required="true" onchange="checkOptions('breastCancer-sC');">
                                    <option selected="true">NO</option>
                                    <option>YES</option>
                                </select>
                                <small class="form-text text-muted">Select by observation if patient has blurred vision as compared to previous.</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="breastCancer-fH">Family History</label>
                                <select class="form-control" id="breastCancer-fH" name="fH" required="true" onchange="checkOptions('breastCancer-fH');">
                                    <option selected="true">NO</option>
                                    <option>YES</option>
                                </select>
                                <small class="form-text text-muted">Select by observation if patient heals slowly as compared to previous.</small>
                            </div>
                        </div>
                    </div>
                    <div class="button-group condition-btn">
                        <button class="btn btn-danger" type="reset" onclick="route('/diagnosis');">Abort</button>
                        <button class="btn btn-info" type="submit">Process</button>
                    </div>
                </form>
            </div>
            <div class="home-body-right">
                <div class="image">
                    <img src="../images/breast_cancer.jpg" alt="load"/>
                </div>
            </div>
        </div>
    </section>
    <section class="workspace blbg" id="side-menu" onclick="navbar_toggle();"></section>
    <% if (typeof layout !== 'undefined'){ %>
        <section class="workspace modal fade" role="dialog" aria-hidden="true" id="output-modal">
        </section>
    <% } %>
</body>
<script src="../public/App.js"></script>
<script src="../public/default.min.js"></script>
<script>
let models;
try{
    const layouts = `<%= layout %>`;
    const parser = new DOMParser;
    const htmlDoc = parser.parseFromString(layouts, 'text/html');
    document.getElementById('output-modal').innerHTML = htmlDoc.body.firstChild.textContent;
    document.querySelector(".time").textContent = `${(new Date().getDate())<10?'0'+(new Date().getDate()):(new Date().getDate())}/${(new Date().getMonth()+1)<10?'0'+(new Date().getMonth()+1):(new Date().getMonth()+1)}/${(new Date().getFullYear())<10?'0'+(new Date().getFullYear()):(new Date().getFullYear())} ${(new Date().getHours())<10?'0'+(new Date().getHours()):(new Date().getHours())}:${(new Date().getMinutes())<10?'0'+(new Date().getMinutes()):(new Date().getMinutes())}`;
    document.getElementById('result').innerHTML = document.getElementById('result').textContent;
    document.getElementById('feature').innerHTML = document.getElementById('feature').textContent;
    document.getElementById('related-diagnosis').innerHTML = document.getElementById('related-diagnosis').textContent;
}catch(e){
    console.log('new error: \n',e);
}
try{
    document.getElementById('related-diagnosis').innerHTML = document.getElementById('related-diagnosis').textContent;
}catch(e){

}
function validateForm(event){
    event.preventDefault();
    var name = document.getElementById('breastCancer-name').value;
    var age = document.getElementById('breastCancer-age').value;
    var tuS = document.getElementById('breastCancer-tuS').value;
    var brP = document.getElementById('breastCancer-brP').value=='NO'?0:1;
    var blD = document.getElementById('breastCancer-blD').value=='NO'?0:1;
    var sC = document.getElementById('breastCancer-sC').value=='NO'?0:1;
    var fH = document.getElementById('breastCancer-fH').value=='NO'?0:1;
    if((name, age, tuS) != ''){
        if(
            system.validUserName(name) && 
            system.validLimit([4,100],system.dobToage(age)) && 
            system.validLimit([0,8],tuS) && 
            system.validOptions([0,1],brP) && 
            system.validOptions([0,1],blD) && 
            system.validOptions([0,1],sC) && 
            system.validOptions([0,1],fH) 
        ){
            window.location.href = system.encodedURI("/breastCancer/predict",`name=${name.replace(' ','+')}&age=${age}&tuS=${tuS}&brP=${brP}&blD=${blD}&sC=${sC}&fH=${fH}`,13);
            return true;
        }else{
            alert("Please fill with correct values!");
        }
    }else{
        alert("Please fill out the required fileds!");
    }
    return false;
}
</script>
</html>